<!-- Begin Nav bar -->

<style>
        .dropdown {
          position: relative;
          display: inline-block;
          padding-top: 8px;
        }
        
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          padding: 12px 16px;
          z-index: 1;
        }
        
        .dropdown:hover .dropdown-content {
          display: block;
          
        }
        </style>

<div class="container">
  
    <hr>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        {{ $isHome := .Page.IsHome }}
       
        <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false" >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
        <div class="navbar-menu {{ if $isHome }}has-content-centered{{ end }}" id="navMenu">
            <!-- look for custom menu and include it -->
            {{ if .Site.Menus.main }}
            {{ range .Site.Menus.main }}
            {{ if .HasChildren }}

            <!-- without absUrl does not work with multiple laguages -->
            <a class="navbar-item"  href="{{ .URL | absLangURL }}">
              
                {{ .Pre }}
                {{ .Name }}
                {{ .Post }}
            </a>
            {{ range .Children }}
            <!-- TODO: style children diffrent then parents-->
            <a class="navbar-item" href="{{ .URL  | absLangURL }}">
                {{ .Pre }}
                {{ .Name }}
                {{ .Post }}
            </a>
            {{ end }}
            {{ else }}
            <a class="navbar-item" href="{{ .URL | absLangURL}}">
                {{ .Pre }}
                {{ .Name }}
                {{ .Post }}
            </a>
            {{ end }}
            {{ end }}
            <!--ading menu languages after rendering all standard menus-->
            
            <div class="dropdown">
                    <div class="navbar-item" >Languages</div>
                    <div class="dropdown-content">
                            {{ range $.Site.Home.AllTranslations }}
                            <a class="navbar-item"  href="{{ .Permalink }}">
                                    {{ .Language.LanguageName }}
                                </a>
                                {{ end }}
                    </div>
                   
            </div>
            <!--end -->
            {{ else }}
            <!-- use default menu -->
            {{ if not $isHome }}
            <a class="navbar-item" href="{{ "/" | relLangURL }}">{{ i18n "nav_main" . }}</a>
            {{ end }}

            {{ with .Site.GetPage "/home" }}
            {{ range sort (.Resources.ByType "page") "Params.weight" }}
            {{ if ne .Name "contact.md" }}
            <a class="navbar-item" href="{{ if $isHome }}#{{ .File.TranslationBaseName }}{{ else }}{{ printf "/#%s" (.File.TranslationBaseName | urlize) | relLangURL }}{{ end }}">{{ .Title }}</a>
            {{ end }}
            {{ end }}
            {{ end }}

            {{ $pageIsInProjects := eq .Page.Section "projects"}}
            {{ if not (and $pageIsInProjects (eq .Page.Kind "section")) }}
            {{ with .Site.GetPage "/projects" }}
            {{ $totalProjects := (len .Pages) }}
            {{ if $isHome }}
            <a class="navbar-item" href="{{ printf "#%s" (.Title | urlize) }}">{{ .Title }}</a>
            {{ else }}
            <a class="navbar-item" href="{{ .Permalink }}">
                {{ if $pageIsInProjects }}
                {{ i18n "nav_backToSection" . }}
                {{ else }}
                {{ .Title }}
                {{ end }}
            </a>
            {{ end }}
            {{ end }}
            {{ end }}

            {{ $pageIsInBlog := eq .Page.Section "blog"}}
            {{ if not (and $pageIsInBlog (eq .Page.Kind "section")) }}
            {{ with .Site.GetPage "/blog" }}
            {{ if $isHome }}
            <a class="navbar-item" href="{{ printf "#%s" (.Title | urlize) }}">{{ .Title }}</a>
            {{ else }}
            <a class="navbar-item" href="{{ .Permalink }}">
                {{ if $pageIsInBlog }}
                {{ i18n "nav_backToSection" . }}
                {{ else }}
                {{ .Title | singularize}}
                {{ end }}
            </a>
            {{ end }}
            {{ end }}
            {{ end }}

            {{ with .Site.GetPage "/home" }}
            {{ with .Resources.GetMatch "contact.md" }}
            <a class="navbar-item" href="{{ if $isHome }}#{{ .File.TranslationBaseName }}{{ else }}{{ printf "/#%s" (.File.TranslationBaseName | urlize) | relLangURL }}{{ end }}">{{ .Title }}</a>
            {{ end }}
            {{ end }}

            {{ range $.Site.Home.AllTranslations.ByWeight }}
            {{ if ne .Language.LanguageName $.Language.LanguageName }}
            <a class="navbar-item" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
            {{ end }}
            {{ end }}

            {{ if and .Site.Params.showRSSButton .Site.RSSLink }}
            <a class="navbar-item" href="{{ .Site.RSSLink }}"><i class="fas fa-rss"></i></a>
            {{ end }}
            {{ end }}
        </div>
    </nav>
    <hr>
</div>
<!-- End Nav bar -->
